
body{
margin:0;
font-family:Arial;
background:#f6f8fa;
}


.login-body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:40px;
width:350px;
text-align:center;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.logo{
width:60px;
}

.login-container input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
}

.login-container button{
width:100%;
padding:10px;
background:#24292f;
color:white;
border:none;
cursor:pointer;
}



.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:16px 40px;
background:white;
border-bottom:1px solid #e5e7eb;
}

.nav-left{
display:flex;
align-items:center;
gap:10px;
}

.nav-left img{
width:32px;
}

.nav-right input{
padding:8px 12px;
border:1px solid #ccc;
border-radius:6px;
}



.issues-header{
padding:30px 40px;
}

.tabs{
display:flex;
gap:10px;
margin-bottom:20px;
}

.tab{
padding:8px 20px;
background:#eee;
border:none;
border-radius:6px;
cursor:pointer;
}

.tab.active{
background:#24292f;
color:white;
}



.issues-summary{
display:flex;
justify-content:space-between;
align-items:center;
}

.summary-left{
display:flex;
align-items:center;
gap:10px;
font-weight:600;
}

.summary-left img{
width:22px;
}

.summary-right{
display:flex;
gap:25px;
}

.status{
display:flex;
align-items:center;
gap:6px;
}

.status img{
width:22px;
}




.issues-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:24px;
padding:0 40px 40px;
}


.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 10px rgba(0,0,0,0.06);
cursor:pointer;
transition:0.2s;
}

.card:hover{
transform:translateY(-4px);
}

.card.open{
border-top:6px solid #2da44e;
}

.card.closed{
border-top:6px solid #8250df;
}

.card-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.issue-title{
font-size:16px;
font-weight:600;
}

.status-badge{
padding:4px 10px;
border-radius:20px;
font-size:12px;
}

.status-badge.open{
background:#dafbe1;
color:#1a7f37;
}

.status-badge.closed{
background:#fbefff;
color:#8250df;
}

.issue-description{
font-size:14px;
color:#555;
margin-bottom:12px;
}

.issue-middle{
display:flex;
justify-content:space-between;
font-size:13px;
margin-bottom:10px;
}

.issue-footer{
display:flex;
justify-content:space-between;
font-size:12px;
color:#777;
}



.spinner{
border:6px solid #eee;
border-top:6px solid black;
width:40px;
height:40px;
border-radius:50%;
animation:spin 1s linear infinite;
margin:40px auto;
display:none;
}

@keyframes spin{
100%{transform:rotate(360deg);}
}



.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
display:none;
background:rgba(0,0,0,0.5);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:25px;
width:400px;
border-radius:10px;
}


@media(max-width:1024px){
.issues-grid{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.issues-grid{
grid-template-columns:1fr;
}
}